/* ==========================================================================
    Reset
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0 none;
}
a,
img {
  vertical-align: top;
}
a {
  background: transparent;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
a:active,
a:hover {
  outline: 0 none;
}
a,
a:hover {
  text-decoration: none;
}
:focus {
  outline: 0 none;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
abbr,
acronym {
  border: 0 none;
  font-variant: normal;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}
code,
kbd,
samp,
tt,
input,
button,
textarea,
select {
  font-size: 100%;
}
ol,
ul,
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
sup,
sub {
  font-size: 100%;
  vertical-align: baseline;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: not-allowed;
}
button {
  overflow: visible;
}
em,
i {
  font-style: normal;
}
@font-face {
  font-family: 'Broadway BT';
  font-style: normal;
  font-weight: normal;
  src: local('Broadway BT'), url("Broadway.woff") format('woff');
}
::selection {
  background-color: #e72900;
  color: #fff;
}
html {
  font-size: 62.5%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
body {
  overflow-x: hidden;
  min-height: 500px;
  background-color: #3b0104;
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: 0 0.5em;
  background-image: url("img/bg1x.png");
  font: 100%/1.5 Hiragino Sans GB, WenQuanYi Micro Hei, arial, \5B8B\4F53, sans-serif;
  color: #333;
}
a {
  color: #333;
}
a:hover {
  color: #f10180;
}
header {
  position: relative;
  height: 5.63em;
  padding-right: 10%;
  color: #fff;
  font-size: 2em;
  line-height: 5.5em;
  text-shadow: 0 0 0.6em #fff, 0 0 0.4em #de1900, 0 0 0.3em #ffe5a8;
  text-align: right;
}
header p {
  overflow: hidden;
  height: 100%;
}
header span {
  font-family: 'Broadway BT';
}
header img {
  position: absolute;
  height: 6em;
  left: 0;
  top: 0;
  -webkit-transform-origin: 0 0;
  -webkit-animation: avatar 1s ease-in-out infinite;
}
article {
  position: relative;
  font-size: 1em;
  padding: 0.7em 2em 2em;
  margin: 0.5em 1.5em 2em;
  color: #e72900;
  border-radius: 4em;
  background-color: #fff;
  -webkit-filter: drop-shadow(0 0 20px rgba(255,255,255,0.9));
  z-index: 5;
}
article strong {
  display: block;
  font-size: 1.6em;
  line-height: 1.4em;
  text-indent: 1em;
}
article p {
  font-size: 1.5em;
  text-indent: 2em;
  line-height: 1.4em;
}
article .indent0 {
  text-indent: 0;
}
article i {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 2em;
  top: -2em;
  border-width: 0 2em 4em;
  border-style: solid;
  border-color: transparent transparent #fff;
  z-index: -1;
}
article .tran3 {
  left: 3.5em;
  -webkit-transform: rotate(18deg);
}
article .map {
  display: block;
  overflow: hidden;
  width: 99%;
  height: 22em;
  margin: 0.5em auto;
}
article .map img {
  display: block;
  width: 100%;
}
article a {
  display: block;
  color: #e72900;
  text-decoration: underline;
}
article span[type tel] {
  text-decoration: none;
  padding-left: 0;
}
figure {
  position: relative;
  font-size: 1em;
  height: 22em;
  margin-bottom: 1.5em;
}
figure:after {
  content: '搏命加载中..';
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  font-size: 2em;
  margin: -2.5em 0 0 -2.5em;
  z-index: 1;
  -webkit-animation: loading 500ms ease-in-out infinite;
}
figure img {
  opacity: 0;
  border-radius: 1px;
  border: 3px solid #fff;
  box-shadow: 0 0 3px #000;
  box-sizing: border-box;
}
figure .img1 {
  position: absolute;
  left: 1.8em;
  top: 0;
  height: 52%;
  z-index: 4;
}
figure .img2 {
  position: absolute;
  right: 1.8em;
  top: 0;
  height: 49%;
  z-index: 3;
}
figure .img3 {
  position: absolute;
  left: 2.3em;
  top: 50%;
  height: 52%;
  z-index: 2;
}
figure .img4 {
  position: absolute;
  right: 2.2em;
  bottom: 0;
  height: 100%;
  z-index: 1;
}
.imgs:after {
  display: none;
}
.imgs .img1 {
  -webkit-transform: rotateZ(-367deg);
  -webkit-animation: img1 3s forwards 1s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.imgs .img2 {
  -webkit-transform: rotateZ(355deg);
  -webkit-animation: img2 2.5s forwards 0.5s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.imgs .img3 {
  -webkit-transform: rotateZ(-368deg);
  -webkit-animation: img3 1.5s forwards 0.5s;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.imgs .img4 {
  -webkit-transform: rotateZ(356deg);
  -webkit-animation: img4 2s forwards;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.tac {
  text-align: center;
}
.last {
  padding-top: 0;
  background: none;
  color: #fff;
}
.last p {
  margin-bottom: 0.5em;
  text-indent: 0;
}
.last a {
  display: inline-block;
  color: #fff;
}
@-webkit-keyframes img1 {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(0) translateY(-12em);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateZ(-367deg) translateY(0);
  }
}
@-webkit-keyframes img2 {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(0) translateY(-12em);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateZ(355deg) translateY(0);
  }
}
@-webkit-keyframes img3 {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(0) translateY(-12em);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateZ(-368deg) translateY(0);
  }
}
@-webkit-keyframes img4 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes loading {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes avatar {
  0% {
    -webkit-transform: scale(0.85, 0.85);
  }
  50% {
    -webkit-transform: scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: scale(0.85, 0.85);
  }
}
